################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DetectCyclesUndirectedGraph/bin
/DetectCyclesUndirectedGraph/obj
/PrintCyclesUndirectedGraph/bin
/PrintCyclesUndirectedGraph/obj
