################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Algos/v15
/HasCycle/bin/Debug/netcoreapp2.0
/HasCycle/obj
